{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расчет выбросов ТЭС</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h3>Меню</h3>
        </div>
        <ul class="sidebar-menu">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'NOx' %}">NOx (уголь)</a></li>
            <li><a href="{% url 'NOx_fuel' %}">NOx (топливо)</a></li>
            <li><a href="{% url 'SOx' %}" class="active">SOx</a></li>
        </ul>
    </div>

    <div class="main-content">
        <div class="card">
            <h1>Расчет выбросов оксидов серы</h1>

            <form method="POST">
                {% csrf_token %}

                <div class="form-grid">
                    <div class="form-group">
                        <label>Расход топлива (B, кг/с)</label><br>
                        <input type="number" step="0.01" name="B" value="{{ form_data.B }}" required>
                    </div>

                    <div class="form-group">
                        <label>Содержание серы (S_r, %)</label><br>
                        <input type="number" step="0.01" name="S_r" value="{{ form_data.S_r }}" required>
                    </div>

                    <div class="form-group">
                        <label>Доля оксидов серы, связываемых летучей золой в котле (n1_SO2)</label>
                        <input type="number" step="0.01" name="n1_SO2" value="{{ form_data.n1_SO2 }}" required>
                    </div>

                    <div class="form-group">
                        <label>Доля оксидов серы, улавливаемых в мокром золоуловителе (n2_SO2)</label>
                        <input type="number" step="0.01" name="n2_SO2" value="{{ form_data.n2_SO2 }}" required>
                    </div>
                </div>

                <button type="submit" class="btn">Рассчитать выбросы оксида серы</button>

                {% if form_data.itog %}
                <div class="results">
                    <h2>Результаты расчёта:</h2>
                    <p>Выбросы оксида серы (г/с): {{form_data.itog}}</p>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</body>
</html>